<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap" rel="stylesheet">




<nav class="navbar sticky-top navbar-expand-sm navbar-light  flex-sm-nowrap flex-wrap navbar border-bottom border-dark">
    <div class="container-fluid">
        <button class="navbar-toggler flex-grow-sm-1 flex-grow-0 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar5">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="assets/images/ghost.png" width= "150" height= "150">
        </a>
        <span class="navbar-brand flex-grow-1 brandfont ">AnimeZone</span>

        <div class="navbar-collapse collapse flex-grow-1 justify-content-center" id="navbar5">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/anime">Anime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/manga">Manga</a>
                </li>
            </ul> 
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign-up</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>      
            </ul>
        </div>
        
        <div class="flex-grow-1">
            
        </div>
    </div>
</nav>

